.divContainer{
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div_user{
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    width: 450px;
    height: 100px;
    border:  solid 4px;
    background: #e89c0e;
}

.div_id{
    text-align: center;
    color: #16166e;
    width: 100%;
}

.user_button{
    background: silver;
    border: solid 2px;
    border-radius: 10px;
    height: 30px;
    width: 75%;
}
