
.wrap-post{
    background: #498c12;
    border: blueviolet solid 1px;
    border-radius: 10px;
    width: 33%;
    padding-left: 15px;
    margin-bottom: 15px;
}
.post-title{
    color: blueviolet;
    font-family: Calibri;
    text-align: left;
}

.post-body {
    color: blueviolet;
    font-family: Calibri;
    text-align: justify;
}

.wrap-comments{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.comments {
    font-family: Calibri;
    background: azure;
    margin: 10px;
    border: blueviolet solid 1px;
    border-radius: 10px;
    width: 20%;
    padding: 15px;
    height: 300px;
}

.comment-name{
    font-family: Calibri;
    height: 15%;
}

.comment-email{
    height: 10%;
    font-family: Calibri;
}