.wrap {
    padding: 10px;
}

.head_post {
    background: silver;
    border: solid 3px;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    width: 1320px;
}

.post_title {
    text-align: left;
}

.post_body {
    text-align: justify;
}

.comment_title, .comment_mai {
    height: 15%;
}

.head_comments {
    display: flex;
    flex-wrap: wrap;
}

.comments {
    background: orange;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px;
    width: 20%;
    height: 300px;
}

