
.head_post {
    background: silver;
    border: solid 3px;
    width: 90%;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;

}
.post-title{
    text-align: left;
}

.post-body {
    text-align: justify;
}

.head_comments{
    display: flex;
    flex-wrap: wrap;
}

.comments {
    background: orange;
    margin: 10px;
    border: solid 3px;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    height: 300px;

}

.comment-name, .comment-email{
    height: 15%;
}
